* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;

}

body {
    margin: 0;
    padding: 0;

}

.heading {
    margin: 0;
    padding: 10px 40px;
    background-color: aliceblue;

}

.heading h1 {
    color: #5f43b2;
    font-size: 1.5rem;
    margin: 0;

}

.gif {

    text-align: center;

}

.gif img {
    width: 100%;
}


header {
    padding: 10px 90px;
}

header nav {
    padding: 10px 0;

}

header nav .logo {
    width: 50px;
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
    transition: transform .7s ease-in-out;
}

header nav .menu {
    float: right;
    font-size: 1.5rem;
    color: #1a1463;
    margin-top: 15px;
    cursor: pointer;
    display: none!important;
}

header nav .menu:hover {
    transform: rotate(180deg);
    
}
header nav .menu:checked {
    transform: rotate(180deg);
    
}


header nav .logo:hover {
    transform: rotate(135deg);
}

header nav .logo img {
    width: 50px;
}

header nav ul {
    list-style: none;
    display: inline-block;
    float: right;
}

header nav ul li {
    display: inline-block;
    margin: 0 15px;
    cursor: pointer;
    transition: transform .7s ease-in-out;
}

header nav ul li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #5f43b2;
    padding-bottom: 5px;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;

    -moz-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;


}

header nav ul li a:hover {
    color: #1a1463;
    border-bottom: 2px solid #5f43b2;
}

header nav ul li a:checked {
    color: #1a1463;
    border-bottom: 2px solid #5f43b2;
}

@media only screen and (max-width: 600px) {
    header {
        padding: 10px 40px;
    }

    header nav ul {
        display: none;
        width: 100%;
        text-align: center;
        background-color: #f3f6f4;
        padding: 20px 0;
    }
    header nav ul li{
        border: 1px solid #ccc;
        padding: 0;
    }
    header nav ul li:hover a{
        color: white;
        border: 0;
    }
    header nav ul li:hover {
        background-color: #5E5DF0;
        color: white;
        border: 1px solid #ccc;
    }
    header nav .active {
        -moz-transition: all, 0.3s;
        -o-transition: all, 0.3s;
        -webkit-transition: all, 0.3s;
        transition: all, 0.3s;
        display: block;

    }

    header nav ul li {
        display: block;
        padding: 0 0;

    }

    header nav ul li a {
        font-size: 1rem;
        display: block;
        line-height: 60px;
    }

    header nav .menu {
        display: inline-block!important;

        -moz-transition: all, 0.3s;
        -o-transition: all, 0.3s;
        -webkit-transition: all, 0.3s;
        transition: all, 0.3s;
    }


}

@media only screen and (max-width: 1000px) and (min-width: 600px) {
    header {
        padding: 10px 20px;
    }
 

    header nav ul {
        padding-top: 5px;
       
    }

    header nav ul li a {
        font-size: 1rem;
        padding-bottom: 20px;


    }
    header nav .menu {
        display: block;
    
    }


}

/* Product Section */
.products h1 {
    text-align: center;
    font-weight: bolder;
    margin-bottom: 60px;
    font-size: 2.5rem;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;

}
.container {
    width: 46%;
    margin: 0 auto;
}

.products .container {
    padding: 80px;
    width: 100%;

}

.products .container .card {
    display: inline-block;
    width: 23%;
    margin: 0 10px;
    padding-bottom: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
    margin-bottom: 20px;

}

.products .container .card .image {
    height: 200px;
    overflow: hidden;
    border-radius: 10px;

}

.products .container .card img {
    width: 100%;

}

.products .container .card .desc {
    padding: 10px 25px;
}

.products .container .card button {
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    width: 100%;
    border: 1px solid #5E5DF0;
    border: 0;

    -moz-transition: all, 0.7s;
    -o-transition: all, 0.7s;
    -webkit-transition: all, 0.7s;
    transition: all, 0.7s;

}

.products .container .card button:hover {
    background: white;
    color: #5E5DF0;
    border: 1px solid #5E5DF0;

}

.products .container .card h2 {
    font-size: 1rem;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
}

@media only screen and (max-width: 600px) {
    
    .products .container {
        padding: 20px;
    }

    .products .container .card {
        display: block;
        width: 100%;
        margin: 30px 0;
    }

    .products .container .card .desc {
        padding: 5px 15px;
    }

    .products .container .card .image {
        height: 100px;
    }



}


@media only screen and (max-width: 1000px) and (min-width: 600px) {
    .products .container .card {
        width: 45%;
        margin: 30px 10px;
    }

}


html,
body {
    font-family: Raleway, sans-serif;
    background-color: #fff;
}

footer {
    width: 100%;
    display: inline-block;
    margin: 0;
    height: 70px;
    background-color: #5E5DF0;
    float: right;
}

footer .copyright {
    width: 50%;
    margin-top: 15px;
    float: left;
}

@media (max-width: 600px) {
    footer .copyright {
        width: 100%;
    }
}

footer .copyright p {
    padding-left: 10%;
    color: white;
    font-size: 0.7em;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    footer .copyright p {
        text-align: center;
        padding: 0;
    }
    footer{
        margin-top: 190px;
    }
}

footer .social {
    width: 50%;
    float: right;
}

@media (max-width: 600px) {
    footer .social {
        width: 100%;
    }
}

footer .social a {
    float: left;
    line-height: 70px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
    -moz-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
}

footer .social a:hover {
    background-color: #1a1463;
    -moz-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
}

.linked {
    background-color: #1e83ae;
    font-size: 1.2em;
    width: 20%;
}

.face {
    background-color: #3d5b94;
    font-size: 1.2em;
    width: 20%;
}

.tweet {
    background-color: #3dacdd;
    font-size: 1.2em;
    width: 20%;
}

.support {
    background-color: #6dcd9a;
    font-size: 0.8em;
    width: 40%;
}

/* Product Page */

.product h1 {
    text-align: center;
    font-weight: bolder;
    margin-bottom: 60px;
    font-size: 2.5rem;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;

}

.products .container {
    padding: 80px;
    width: 100%;
    text-align: center;

}

.product .container .card {

    margin: 0 10px;
    padding-bottom: 30px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;

}

.product .container .card .image {

    overflow: hidden;
    border-radius: 10px;

}

.product .container .card img {
    width: 40%;

}

.product .container .card .desc {
    padding: 10px 40px;
}

.product .container .card button {
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    width: 100%;
    border: 1px solid #5E5DF0;
    border: 0;

    -moz-transition: all, 0.7s;
    -o-transition: all, 0.7s;
    -webkit-transition: all, 0.7s;
    transition: all, 0.7s;

}

.products .container .card h2 {
    font-size: 1rem;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
}

@media only screen and (max-width: 600px) {
    .products .container {
        padding: 20px;
    }

    .products .container .card {
        display: block;
        width: 100%;
        margin: 30px 0;
    }

    .products .container .card .desc {
        padding: 5px 15px;
    }

    .products .container .card .image {
        width: 100%;
        height: 100px;
    }

    .products .container .card .desc p {
        font-size: 1rem;
    }



}


@media only screen and (max-width: 1000px) and (min-width: 600px) {
    .products .container .card {
        width: 45%;
        margin: 30px 10px;
    }

}


/*  Contact US  */

.form .container {
    padding: 80px 80px;
}

.form a {
    background-color: #6dcd9a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    text-decoration: none;
    display: block;
    text-align: center;

}

.form .container h1 {

    text-align: center;
    font-weight: bolder;
    margin-bottom: 60px;
    font-size: 2.5rem;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;

}

input[type=text],
input[type=email],
input[type=password],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=radio] {
    margin: 5px 10px;
}

input[type=submit] {
    background-color: #5E5DF0;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

input[type=submit]:hover {
    background-color: #1a1463;
}


@media only screen and (max-width: 600px) {
    .form .container {
        padding: 40px 40px;
    }

    .form .container h1 {
        font-size: 1.5rem;
    }

}

/* Users */


.users .container {
    padding: 80px 80px;
}

.users .container h1 {

    text-align: center;
    font-weight: bolder;
    margin-bottom: 60px;
    font-size: 2.5rem;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;

}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5E5DF0;
    color: white;
}
@media only screen and (max-width: 600px) {
    .users .container {
        padding: 30px 30px;
    }

    .users .container h1 {
        font-size: 1.5rem;
    }

}

/* Login */

.users .container {
    padding: 80px 80px;
}

.users .container h1 {

    text-align: center;
    font-weight: bolder;
    margin-bottom: 60px;
    font-size: 2.5rem;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;

}

/* Register */

.reg .container {
    padding: 80px 80px;
}

.reg .container h1 {

    text-align: center;
    font-weight: bolder;
    margin-bottom: 60px;
    font-size: 2.5rem;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;

}

@media only screen and (max-width: 600px) {
    .users .container {
        padding: 30px 30px;
    }

    .users .container h1 {
        font-size: 1.5rem;
    }

    .reg .container {
        padding: 30px 30px;
    }
    

}